body {
  background: #F3FFF1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 80px;
  font-family: Arial, sans-serif;
  color: #495057;
  /* 텍스트 색상 변경 */
}

/* Card container */
.card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  /* 카드 내부 패딩 증가 */
  text-align: center;
  width: 670px;
  margin-left: 80px;
}

.logo-img {
  max-width: 100px;
  margin-bottom: -30px;
}

.logo-img:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.title {
  color: #495057;
  font-size: 40px;
  /* 제목 크기 증가 */
  font-family: 'BPreplayBold', Arial, sans-serif;
  margin-bottom: 20px;
  /* 제목과 다른 요소 간의 간격 증가 */
}

/* Table */
.password-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: 'BPreplay', Arial, sans-serif;
}

.password-table th,
.password-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}

.password-table th {
  background-color: #f8fef7;
  font-weight: bold;
}

.password-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-row:hover {
  background-color: #f1f1f1;
}

/* Password visibility toggle styling */
.hidden-password {
  font-family: Arial, sans-serif;
  letter-spacing: 3px;
  margin-right: 10px;
}

.toggle-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

/* Button */
.btn-delete {
  background-color: #d6ecda;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-delete:hover {
  background-color: rgb(255, 189, 196);
}

/* 버튼 기본 스타일 */
.btn-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #68c290;
  font-size: 16px;
  font-family: 'BPreplay', Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 15px 30px;
  border: 2px solid #68c290;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  height: 30px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 210px;
  z-index: 1;
  cursor: pointer;
}

/* 배경 애니메이션 */
.btn-fill::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #68c290;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

/* 마우스를 올릴 때 효과 */
.btn-fill:hover::before {
  opacity: 1;
}

.btn-fill:hover {
  color: white;
  border-color: #68c290;
}

/* 텍스트를 위로 올림 */
.btn-fill span {
  position: relative;
  z-index: 2;
}

/* 버튼 클릭 시 효과 */
.btn-fill:active {
  transform: translateY(2px);
}


/* Input field for usage */
.usage-input {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
}

.usage-input:focus {
  outline: none;
  border: 1px solid #00AB59; 
  box-shadow: 0 0 1px #00AB59; 
}

/* SweetAlert 팝업 스타일 */
.swal-popup {
  font-family: 'BPreplay', Arial, sans-serif !important;
  font-size: 14px !important;
}

/* 제목 스타일 */
.swal-title {
  font-family: 'BPreplay', Arial, sans-serif !important;
  font-size: 20px !important;
  color: #495057 !important;
}

/* 텍스트 스타일 */
.swal-text {
  font-family: 'BPreplay', Arial, sans-serif !important;
  font-size: 14px !important;
  color: #757575 !important;
}

/* 버튼 스타일 */
.custom-confirm-btn {
  font-family: 'BPreplay', Arial, sans-serif;
  background-color: #4CAF50;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.custom-confirm-btn:hover {
  background-color: #45A049;
}

.custom-cancel-btn {
  font-family: 'BPreplay', Arial, sans-serif;
  background-color: #495057;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.custom-cancel-btn:hover {
  background-color: #5c6167;
}

/* 아이콘 내부 정렬 조정 */
.swal2-icon-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  margin-top: 5px;
}

@font-face {
  font-family: 'BPreplayBold';
  src: url('../assets/fonts/BPreplayBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPreplay';
  src: url('../assets/fonts/BPreplay.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}