body {
  background: #f7f7f7;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #495057;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Card container */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 700px;
  text-align: center;
}

/* Header */
h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

/* Table */
.password-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.password-table th,
.password-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}

.password-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.password-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-row:hover {
  background-color: #f1f1f1;
}

/* Password visibility toggle styling */
.hidden-password {
  font-family: Arial, sans-serif;
  letter-spacing: 3px;
  margin-right: 10px;
}

.btn-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 5px;
}

.btn-toggle:hover {
  background-color: #0056b3;
}

/* Button */
.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-delete:hover {
  background-color: #a71d2a;
}

.btn-home {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.btn-home:hover {
  background-color: #218838;
}

.btn-txt {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.btn-txt:hover {
  background-color: #218838;
}

.btn__bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Input field for usage */
.usage-input {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
}

.usage-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
